/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* NavBar styling */

.navbar {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

.logo {
    margin: 10px 34px;
}

.logo img {
    height: 59px;
    margin: 3px 6px;
}

.navbar ul {
    display: flex;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

.navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

.navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: red;
    background-color: white;
    cursor: pointer;
}


/* Home styling */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    position: absolute;
    background: url('../img/b3.jpg') no-repeat center center/cover;
    height: 642px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.50;
}

#home h1 {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    color: rgb(255 0 0);
    text-align: center;
}

#home p {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    color: rgb(255 0 0);
    font-size: 1.2rem;
    text-align: center;
}

#home #btnOrder {
    font-size: 1.2rem;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: 3px solid red;
    opacity: 0.90;
    cursor: pointer;
}


/* services */

#services {
    margin: 36px;
    display: flex;
}

#services .services_container {
    border: 2px solid red;
    margin: 6px 3px;
    border-radius: 23px;
    background-color: antiquewhite;
    cursor: pointer;
}

#services .services_container img {
    height: 200px;
    margin: auto;
    display: block;
}

#services .services_container p {
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px 3px;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}


/* partner */

#partnar_section {
    height: 344px;
}

#clients {
    display: flex;
    justify-content: space-around;
    position: relative;
    background: url('../img/b2.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.89;
}

.client_items {
    padding: 34px;
}

#clients img {
    height: 120px;
}


/* contact us */

.container {
    border: 5px dotted red;
    margin: 10px auto;
    padding: 16px 4px;
    border-radius: 10px;
    text-align: center;
    width: 35%;
}

.form-group input {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    padding: 20px auto;
    width: 70%;
    text-align: center;
    font-size: 20px;
}

.container #btnOrder {
    font-size: 1.2rem;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    padding: 5px 100px;
    margin: 10px auto;
    border-radius: 10px;
    border: 3px solid red;
    opacity: 0.90;
    cursor: pointer;
}


/* utility class for heading */

.h_primary {
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

.h_secondary {
    text-align: center;
    margin: auto;
    display: block;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}